POSTGRES_DB=urlshortener
POSTGRES_USER=urlshortener
POSTGRES_PASSWORD=change-me

POSTGRES_CONNECTION_STRING=Host=localhost;Port=5432;Database=urlshortener;Username=urlshortener;Password=change-me

REDIS_CONNECTION_STRING=localhost:6379